<div class="lightgrey_background">
  <div class="wrapper_skinny nav_drop">
    
    <div class="track_show">
      <div class="track_show_banner">

        <div class="breadcrumb">
        <%= link_to users_path do %>
          All Users
          <span> / </span>
          <%= link_to @user.username, user_path(@user) %>
          <span> / </span>
          <%= @track.title %>
        <% end %>
        </div>

        <div class="track_show_image">
          <%= image_tag @track.track_image.url %>
        </div>

        <!-- <h1 class="track_show_user_name_location"> Hayoji <span> </span> Camden, London UK </h1> -->

        <h2 class ="track_show_title" ><%= @track.title %></h2>
        <p class ="track_show_description"><%= @track.description %></p>

        <%= audio_tag @track.track, controls: true, :preload => 'none'%>

      </div> 
    
      <div class="track_show_index">
        <ul class="cf">
          <% @tracks.each do |track| %>
            <li class="cf">
              <div class="track_thumbnail">
                <%= image_tag track.track_image.medium_fill.url %>    
              </div>
              <div class="track_overview">
                <h2 class="track_overview_title">
                  <%= link_to track.title, user_track_path(@user, track) %>
                </h2>
                <div class="audio_player">
                  <%= audio_tag track.track, controls: true, :preload => 'none'%>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
