<%= render 'layouts/main_nav' %>
<div class="lightgrey_background">
  <div class="wrapper_skinny nav_drop">
    <div class="user_show">
      <div class="user_show_banner account_banner">
        <h1> Account </h1>
        <div class="account_links">
          <ul>
            <li class="current_page"><%= link_to "Playlists" %></li>
            <li><%= link_to "New Playlist", new_user_playlist_path(@user) %></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to "View Profile", user_path(current_user) %></li>
          </ul>
        </div>
      </div>

      <div class="user_show_playlists">
        <ul class="cf">
          <% @playlists.each do |playlist| %>
            <li class="cf">
              <div class="playlist_thumbnail">
                <%= image_tag playlist.avatar.url(:medium) %>
              </div>
              <div class="playlist_overview">
                <h2 class="playlist_overview_title">
                  <%= link_to playlist.title, user_playlist_path(@user, playlist) %>
                </h2>
                <p class='playlist_overview_description'>
                  <%= truncate(playlist.description, length: 260) %>
                </p>
                <div class="edit_delete_btn">
                  <%= link_to "Edit", edit_user_playlist_path(@user, playlist) %>
                  <%= link_to "Delete", user_playlist_path(@user, playlist), method: :delete %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <%= will_paginate @playlists %>
      </div>
    </div>
  </div>
</div>
