<div class="lightgrey_background">
  <div class="wrapper_skinny nav_drop">
    
    <div class="user_show">
      <div class="user_show_banner dashboard_banner">
        <h1> Dashboard </h1>
        <div class="dashboard_links">
          <ul>
            <li class="current_page"><%= link_to "Playlists" %></li>
            <li><%= link_to "New Playlist" %></li>
            <li><%= link_to "Account" %></li>
            <li><%= link_to "Profile" %></li>
          </ul>
        </div>
      </div>

      <div class="user_show_playlists">
        <ul class="cf">
          <% @playlists.each do |playlist| %>
            <li class="cf">
              <div class="playlist_thumbnail">
                <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
              </div>
              <div class="playlist_overview">
                <h2 class="playlist_overview_title">
                  <%= link_to playlist.title, user_playlist_path(@user, playlist) %>
                </h2>
                <p class='playlist_overview_description'>
                  <%= playlist.description%>
                </p>
                <div class="edit_delete_btn">
                  <%= link_to "Edit" %>
                  <%= link_to "Delete" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>