<div class="lightgrey_background">
  <div class="wrapper_skinny nav_drop">
    
    <div class="user_show">
      <div class="user_show_banner">
        <%= image_tag @user.avatar %>
        <h1 class="user_show_username"><%= @user.username %></h1>
        <div class="user_show_location"><%= @user.location %></div>
        <div class="user_show_banner_links">
          <a href="follow" class="user_show_banner_link">Follow</a>
          <a href="follow" class="user_show_banner_link">Link</a>
          <a href="follow" class="user_show_banner_link">Button</a>
        </div>
      </div>

      <div class="breadcrumb">
        <%= link_to users_path do %>
          All Users
          <span> / </span>
          <%= link_to @user.username, user_path(@user) %>
        <% end %>
      </div>

      <div class="track_show_index">
        <ul class="cf">
          <% @tracks.each do |track| %>
            <li class="cf">
              <div class="track_thumbnail">
                <%= image_tag track.track_image %>  
              </div>
              <div class="track_overview">
                <h2 class="track_overview_title">
                  <%= link_to track.title, user_track_path(@user, track) %>
                </h2>
                <div class="audio_player">
                  <%= audio_tag track.track, controls: true, :preload => 'none'%>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


