<div id="form" class="wrapper_form">
  <%= form_for ([ @user, @track ]) do |f| %>
    
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :mp3 %>
    <%= f.file_field :mp3 %>

    <%= f.submit %>
  <% end %> 
</div>