<div class="lightgrey_background">
  <div class="wrapper_skinny nav_drop">
    
    <div class="user_show">
      <div class="user_show_banner account_banner">
        <h1> Account </h1>
        <div class="account_links">
          <ul>
            <li><%= link_to "tracks", root_path %></li>
            <li class="current_page"><%= link_to "New track", new_user_track_path(@user) %></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to "Profile", user_path(current_user) %></li>
          </ul>
        </div>
      </div>
      <%= render 'tracks/form' %>
    </div>
  </div>
</div>