<div class="lightgrey_background_playlist">
  <div class="wrapper_skinny nav_drop">
    
    <div class="playlist_show">
      <div class="playlist_show_banner">

        <div class="breadcrumb">
        <%= link_to users_path do %>
          All Users
          <span> / </span>
          <%= link_to @user.username, user_path(@user) %>
          <span> / </span>
          <%= @playlist.title %>
        <% end %>
        </div>

        <div class="playlist_show_image">
          <%= image_tag @playlist.avatar.url(:medium) %>
        </div>

        <h1 class="playlist_show_user_name_location"> Hayoji <span> </span> Camden, London UK </h1>
        

        <h2 class ="playlist_show_title" ><%= @playlist.title%></h2>
        <p class ="playlist_show_description"><%= @playlist.description %></p>
      </div> 
    
      <div class="playlist_show_index">
        <ul class="cf">
          <% @playlists.each do |playlist| %>
            <li class="cf">
              <div class="playlist_thumbnail">
                <img src="http://img.dummy-image-generator.com/people/dummy-400x400-GambiaGirl-plain.jpg" alt="">
              </div>
              <div class="playlist_overview">
                <h2 class="playlist_overview_title">
                  <%= link_to playlist.title, user_playlist_path(@user, playlist) %>
                </h2>
                <p class='playlist_overview_description'>
                  <%= truncate(playlist.description, length: 260) %>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>